/* 
Fonte: Roboto
cores: #129799 bg
       #FFA185 bg
       #F7F7F7 texto

*/


/* Resetando espaçamentos */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Deixando imagens fluidas com o max-width*/
img{

  display: block;
  max-width: 100%;
}