/* Importando a fonte roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* Definindo as variaveis de cores e tipografia */
:root{
  --cor-primaria: #129799;
  --cor-secundaria: #FFA185;
  --cor-texto: #F7F7F7;

  --font: 'Roboto', sans-serif;
}


/* Resetando espaçamentos */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Deixando imagens fluidas com o max-width*/
img{

  display: block;
  max-width: 100%;
}